
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul></ul>
      <ul class="nav navbar-nav navbar-center">
            <li><a (click)="getArticles()"><img src="https://i.ibb.co/C8RdHfB/logo.png" alt="logo" border="0" align="center"></a></li>
      </ul>
  </div>
</nav>







<div class="elektrijada">

<div class='container'>

    <blockquote>
  <div class="login">
  <h1>LOGIN</h1>
  <input type="text" [(ngModel)]="ime" name="ime" placeholder="Ime" required>
  <input type="text" [(ngModel)]="prezime" name="prezime" placeholder="Prezime" required>
<button class="loginbtn" >Prijava</button>

  </div>
      </blockquote>


  <div class='block'>

<blockquote class='left-vertical-line'>

  <h1>REGISTRACIJA</h1>
  <input type="text" [(ngModel)]="ime" name="ime" placeholder="Ime" required>
  <input type="text" [(ngModel)]="prezime" name="prezime" placeholder="Prezime" required>
  <input type="text" [(ngModel)]="email" name="email" placeholder="Email" required>

  <input type="text" [(ngModel)]="url_slike" name="url_slike" placeholder="URL profilne slike" required>
  <input type="text" [(ngModel)]="password" name="password" placeholder="password" required>
  <input type="text" [(ngModel)]="password2" name="password" placeholder="Potvrdi password" required>


  <div class="error" *ngIf="errorMessage!=''">{{errorMessage}}</div>
  <div class="poruka" *ngIf="messageUspjesno!=''">{{messageUspjesno}}</div>
  <button (click)="print()">Registracija</button>

    </blockquote>
    </div>
</div>
</div>


<!--><div class="elektrijada">
<div class="form-content">
<div>
  <h2>SVI KORISNICI</h2>
  <fieldset class="groupBox" *ngFor="let korisnik of korisnici">
  <p>{{korisnik.ime}}</p><p>{{korisnik.prezime}}</p><p>{{korisnik.email}}</p>
  </fieldset>
</div>
</div>
</div><-->
