<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul></ul>
      <ul class="nav navbar-nav navbar-center">
            <li><a (click)="homePage()"><img src="https://i.ibb.co/C8RdHfB/logo.png" alt="logo" border="0" align="center"></a></li>
      </ul>
  </div>
</nav>


<div class="elektrijada">

<div class='container'>

    <blockquote>
  <div class="login">
  <h1>LOGIN</h1>
  <input type="text" [(ngModel)]="email_login" name="email_login" placeholder="Email" required>
  <input type="password" [(ngModel)]="password_login" name="password_login" placeholder="Password" required>
<button (click)="login()" class="loginbtn" >Sign in</button>

  </div>
      </blockquote>


    <div class='block'>

      <blockquote class='left-vertical-line'>

        <div class='flex-class'>
          <div>
            <h1 class="padding-zero">REGISTRATION</h1>
            <div class="padding-form">
              <input type="text" [(ngModel)]="ime" name="ime" placeholder="Name" required>
              <input type="text" [(ngModel)]="prezime" name="prezime" placeholder="Last name" required>
              <input type="text" [(ngModel)]="email" name="email" placeholder="Email" required>

              <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
              <input type="password" [(ngModel)]="password2" name="password" placeholder="Confirm password" required>
            </div>
          </div>
          <div class="padding-left-20">
            <select name="cars" id="cars">
              <option value="volvo">Visa</option>
              <option value="saab">Mastercard</option>
            </select>
            <input type="text" [(ngModel)]="cardNumber" name="cardNumber" placeholder="Card Number" required>
            <input type="text" [(ngModel)]="securityCode" name="securityCode" placeholder="Security Code" required>
            <input type="text" [(ngModel)]="expirationDate" name="expirationDate" placeholder="Expiration Date" required>

            <button (click)="print()">Registration</button>
          </div>
        </div>

      </blockquote>
    </div>

    <div class="error" *ngIf="errorMessage!=''">{{errorMessage}}</div>
    <div class="poruka" *ngIf="messageUspjesno!=''">{{messageUspjesno}}</div>
</div>


</div>
