
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul></ul>
    <ul class="nav navbar-nav navbar-center">
          <li><a (click)="homePage()"><img src="https://i.ibb.co/C8RdHfB/logo.png" alt="logo" border="0" align="center"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <div>
          <i class="material-icons" style="font-size:40px;color:teal" (click)="openMyProfile()">account_circle</i>
          <i class="material-icons" style="font-size:40px;color:teal" (click)="logout()">exit_to_app</i>
        </div>
      </li>
    </ul>
    
  </div>
</nav>





<div class="elektrijada">

<div class='container'>

    <blockquote>
  <div class="login">
<img src="{{slika}}" class="imgs" >
  </div>
      </blockquote>


  <div class='block'>

<blockquote class='left-vertical-line'>
 <h3 class="naslov">{{naziv}}</h3>

  <h3>Description</h3>
  <input type="text"  [(ngModel)]="kratki_tekst" class="short_text" placeholder="{{kratki_tekst}}">

  <h3>Specs</h3>
  <input type="text"  [(ngModel)]="dugi_tekst" class="long_text" placeholder="{{dugi_tekst}}">

  <h3 class="leftc">Price</h3>
  <input type="number"  [(ngModel)]="cijena" class="leftc" placeholder="{{cijena}}">
  <h3 class="leftc">Sale</h3>
  <input type="number"  [(ngModel)]="popust" class="leftc" placeholder="{{popust}}">
  <button (click)="updateArticle()">Update article</button>

    </blockquote>
    </div>
    <div class="error" *ngIf="errorMessage!=''">{{errorMessage}}</div>
    <div class="poruka" *ngIf="messageUspjesno!=''">{{messageUspjesno}}</div>
</div>


</div>


<!--><div class="elektrijada">
<div class="form-content">
<div>
  <h2>SVI KORISNICI</h2>
  <fieldset class="groupBox" *ngFor="let korisnik of korisnici">
  <p>{{korisnik.ime}}</p><p>{{korisnik.prezime}}</p><p>{{korisnik.email}}</p>
  </fieldset>
</div>
</div>
</div><-->
