.navbar {
  margin-bottom: 0;
  background-color: white;
}
select:required:invalid {
  color: #aaa;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.button2 {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  background-color: #2BA6CB;
  color: white;
  border: none;
  border-radius: 4px;
  float: left;
  cursor: pointer;
  transition: background-color 0.16s ease-out;
  }

.button2:hover {
    background:linear-gradient(to bottom, #666666 5%, #808080 100%);
    background-color:#666666;
}


h2{background: #4D4D4D;
  text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    padding: 30px;
}
button{
    -moz-box-shadow: inset 0px 1px 0px 0px #14709e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #14709e;
    box-shadow: inset 0px 1px 0px 0px #14709e;
    background-color: #14709e;
    border: 1px solid #14709e;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-left:100px;
    margin-right: 50px;
    margin-top: 24px;
    float:none;
    padding: 5px 28px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
    align:center;
}

.loginbtn{
  margin-left: 100px;
}
button:hover {
    background:linear-gradient(to bottom, #666666 5%, #808080 100%);
    background-color:#666666;
}

.error {
  color: red;
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  padding-right: 19%;
}

.poruka {
  color:green;
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  padding-right: 19%;
}


/*@media only screen and (max-width: 1367px){
  div.elektrijada{
    min-width: 0;
  }
  div.form-content{
    min-width: 0;
  }
}*/

@media screen and (max-width: 1130px) {
  .form-content{
    width: 70%;
  }
  .elektrijada{
    height: 1300px;
    padding-top: 160px;
  }
  button{
    margin-right: 75px;
  }
}

@media screen and (max-width: 920px) {
  .groupBox{
    width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .groupBox{
    width: 80%;
  }
  .elektrijada{
    padding-top: 180px;
  }
}

@media screen and (max-width: 680px) {
  .groupBox{
    width: 80%;
    margin-bottom: 0px;
  }
}

.login{
  float: left;
  margin-top: 150px;
}

.registracija{
  float:right;
}





.container {
  background: #16222A;

  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width:100%;
  height: 800px;
  position:relative;
  width: 100%;
    height: 100%;
}
.container:nth-child(odd) {
  background-color: #fafafa;
}

.block {
  width: 680px;
  margin: 0 auto;
}


.left-vertical-line {
  margin-left: 150px;;
  padding: 2rem 5rem;
}
.left-vertical-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #292e31;
}
.left-vertical-line .text {
  margin: 0 0 2rem;
}

input{
  border:none;
   background: none;
  border-bottom:2px solid #123b3f;
  width:100%;
  display:block;
  margin:15px 10px;
  font-size:1.6em;
  color:#123b3f;
  padding:5px;
  text-shadow: 2px 2px white;
}


::placeholder{
  color: white;
  opacity: 1;
   text-shadow: 2px 2px black;
}
h1{text-align: center;
color: #123b3f;
font-weight: 550;
}

blockquote{
  margin-left: 150px;
}


.imgs{
max-width: 100%;
vertical-align: top;
width: 500px;
height: 500px;
margin:0;
transition: all 0.5s ease;
}


.short_text{
  font-size: 26px;
  text-align: justify;
}
.long_text{
  font-size: 20px;
  text-align: justify;
}

h3{
  padding-top: 15px;
  padding-bottom: 8px;
}

.naslov{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.leftc{
  float: left;
  width: 50%;
  padding-bottom: 12px;
}
.rightcijena{
  float: right;
  width: 50%;
  text-decoration: underline;
  font-size: 30px;
  color: red;
}
.rightsale{
  float: right;
  width: 50%;
  font-size: 24px;
  padding-bottom: 2px;
}
.rightold{
  float: right;
  width: 50%;
  text-decoration:line-through;
  font-size: 26px;
}
